header {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: #072431;
    border-bottom: 10px solid #AF5E6C;
    padding: 10px 20px;
}

h1 {
    font-family: 'Permanent Marker';
    color: #2F3237;
    text-shadow: 5px 5px 0px #000000;
}
nav {
    text-align: right;
}
a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
a::before { 
    content: "";
    background-color:#AF5E6C;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
span {
    background-color:#AF5E6C;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    
}

#button {
    display: inline-block;
    background-color: #AF5E6C;
    height: 50px;
    line-height: 50px;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0;
    transition: transform 100ms cubic-bezier(0.53, 1.77, 0.7, 2.09);
}
#button:hover{
    transform: scale(1.08)
}
body {
    background-color: #28525F;
    align-items: normal;

}

h2 {
    color:#AF5E6C;
    font-size: 40px;
    text-align: left;
    margin-left: 60px;
    margin-top: 100px;
  
   
}
h3 {
    color: #FFF;
    font-size: 30px;
    text-align: left;
    margin-left: 60px;
    
}